<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stock.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Stock.UI.Properties.Settings>
            <setting name="SettingsAppFolder" serializeAs="String">
                <value>\\Srvr-ossi-04611\Документы\!Базы данных\Backup\StockSettings\</value>
            </setting>
            <setting name="RefreshPeriod" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TemplatesFolderPath" serializeAs="String">
                <value>Templates\</value>
            </setting>
            <setting name="ExportFolderPath" serializeAs="String">
                <value>Export\</value>
            </setting>
        </Stock.UI.Properties.Settings>
    </userSettings>
</configuration>