<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Stock.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Stock.UI.Properties.Settings>
      <setting name="RefreshPeriod" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="TemplatesFolderPath" serializeAs="String">
        <value>C:\Work\Stock\Stock\bin\Debug\Templates\</value>
      </setting>
      <setting name="ExportFolderPath" serializeAs="String">
        <value>.\Export\</value>
      </setting>
      <setting name="StockUnitFilesFolder" serializeAs="String">
        <value>.\Files\StockUnit</value>
      </setting>
      <setting name="DbDataSource" serializeAs="String">
        <value>db.ktm.ossi.loc</value>
      </setting>
      <setting name="DbInitialCatalog" serializeAs="String">
        <value>Stock</value>
      </setting>
      <setting name="DbUserID" serializeAs="String">
        <value>developer</value>
      </setting>
      <setting name="DbPassword" serializeAs="String">
        <value>Pf,hfkj</value>
      </setting>
      <setting name="RememberCreditentials" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LdapAuth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserId" serializeAs="String">
        <value>maltsev</value>
      </setting>
      <setting name="UserPassword" serializeAs="String">
        <value>Live4Art</value>
      </setting>
      <setting name="IntegratedSecurity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingsAppFolder" serializeAs="String">
        <value>C:\Work\Resources</value>
      </setting>
    </Stock.UI.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
